.search-form {
  max-width: 370px;
  width: 100%;
  position: relative;

  @media only screen and (max-width: $mobile) {
    position: static;
  }
}

.search-form__input {
  width: 100%;
  border: 2px solid $black;
  padding: 4px 11px;
  border-radius: 5px;
}
