@mixin forTitle($type) {
  margin-top: 0;
  line-height: 1.2;
  font-weight: 600;

  @if $type == h1 {
    font-size: 30px;
  } @else if $type == h2 {
    font-size: 26px;
  } @else if $type == h3 {
    font-size: 22px;
  } @else if $type == h4 {
    font-size: 17px;
  }
}

@mixin lineLimit($lineNum) {
  display: -webkit-box;
  -webkit-line-clamp: $lineNum;
  line-clamp: $lineNum;
  -webkit-box-orient: vertical;
}
